dt::before{
    content:" •";
    font-weight: bold;
}
.img{
    background-color: black;
    border-radius: 10px;
    height: 70ch;
}
.cap
{
    background-color: white;
    font-style: italic;
    height: 4ch;
    align-items: center;
    border-radius: 7px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}
